.header {
  position: absolute;
  width: 1440px;
  height: 134px;
  left: 0px;
  top: 0px;
}

.headerContent {
  position: absolute;
  width: 1315.42px;
  height: 40.46;
  left: 63.58px;
  top: 52.54px;
}

.headerContent p {
  font-family: New York Small;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

#blogHeader {
  position: absolute;
  width: 66px;
  height: 34px;
  left: 936px;
  top: 59px;
}

#aboutHeader {
  position: absolute;
  width: 84px;
  height: 34px;
  left: 1033px;
  top: 59px;
}

#linksHeader {
  position: absolute;
  width: 71px;
  height: 34px;
  left: 1151px;
  top: 59px;
}

#projectHeader {
  position: absolute;
  width: 121px;
  height: 34px;
  left: 1258px;
  top: 59px;
}

#line {
  position: absolute;
  width: 66px;
  height: 0px;
  left: 936px;
  top: 134px;
  border: 2px solid #000000;
}

#menu {
  position: absolute;
  width: 1440px;
  height: 133px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}

.mainPicture {
  position: absolute;
  width: 854px;
  height: 533px;
  left: 293px;
  top: 210px;
}

.mainInfo {
  position: absolute;
  width: 858px;
  height: 162px;
  left: 293px;
  top: 787px;
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 100%;
  text-align: center;
}

.info {
  position: absolute;
  width: 592px;
  height: 68px;
  left: 424px;
  top: 981px;
  font-family: SF Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #000000;
}

.line2 {
  position: absolute;
  width: 640px;
  height: 0px;
  left: 400px;
  top: 1083px;
  border: 2px solid #000000;
}

.articles {
  position: absolute;
  width: 225px;
  height: 53px;
  left: 608px;
  top: 1147px;
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  color: #000000;
}

.articlesText1 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 423px;
  top: 1435px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesText2 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 755px;
  top: 1435px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesText3 {
  position: absolute;
  width: 262px;
  height: 52px;
  left: 423px;
  top: 1773px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesText4 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 755px;
  top: 1773px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesText5 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 423px;
  top: 2111px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesText6 {
  position: absolute;
  width: 262px;
  height: 52px;
  left: 755px;
  top: 2111px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesText7 {
  position: absolute;
  width: 262px;
  height: 52px;
  left: 423px;
  top: 2449px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesText8 {
  position: absolute;
  width: 262px;
  height: 26px;
  left: 755px;
  top: 2449px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesText9 {
  position: absolute;
  width: 262px;
  height: 26px;
  left: 423px;
  top: 2761px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesText10 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 755px;
  top: 2761px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesText11 {
  position: absolute;
  width: 262px;
  height: 78px;
  left: 423px;
  top: 3099px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesText12 {
  position: absolute;
  width: 262px;
  height: 104px;
  left: 755px;
  top: 3099px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.articlesImage1 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 1239px;
}

.articlesImage2 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 1239px;
}

.articlesImage3 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 1577px;
}

.articlesImage4 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 1577px;
}

.articlesImage5 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 1915px;
}

.articlesImage6 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 1915px;
}

.articlesImage7 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 2253px;
}

.articlesImage8 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 2253px;
}

.articlesImage9 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 2565px;
}

.articlesImage10 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 2565px;
}

.articlesImage11 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 402px;
  top: 2903px;
}

.articlesImage12 {
  position: absolute;
  width: 304px;
  height: 176px;
  left: 734px;
  top: 2903px;
}